/* 

Matches

li:matches(:nth-child(even), .target) {
  background-color: blue;
}

Not

li:not(.target) {
  background-color: blue;
}

*/

:root {
  --awesomeColor: 1px solid red;
}

li:first-child a {
  border: var(--awesomeColor);
}

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
  color: #8e44ad;
}
