:root {
  --greyColor: rgba(0, 0, 0, 0.7);
  --blackColor: #363d3f;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  max-height: 100%;
  height: 100%;
  color: var(--blackColor);
}

html,
body {
  height: 100%;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  text-transform: lowercase;
}

.header .header__square {
  background-color: var(--blackColor);
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin-right: 20px;
}

.main {
  height: calc(100% - 100px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  place-items: center;
}

.main .main__info {
  margin-left: 200px;
  width: 100%;
}

.main .main__titles {
  margin-bottom: 150px;
}

.main__titles .main__pre-title {
  text-transform: uppercase;
  color: var(--greyColor);
}

.main__titles .main__title {
  font-size: 150px;
  position: relative;
  left: 80px;
}

.main__titles .main__subtitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--greyColor);
}

.main .main__link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--greyColor);
  font-size: 14px;
}

.main .main__photo {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url(https://picsum.photos/1000/1000/?random);
  display: flex;
  align-items: flex-end;
}
.main__photo .main__navigation {
  background-color: white;
  padding: 25px 50px;
  font-weight: 600;
}

.main__navigation .navigation__arrow:first-child {
  margin-right: 10px;
}

.main__navigation .navigation__arrow:last-child {
  margin-left: 10px;
}
