:root {
  --gradientBackground: linear-gradient(to right, #a274f7, #83b8f1);
  --boxShadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --greyColor: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
body,
html {
  margin: 0;
  padding: 0;
}

body,
html,
main {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #d5d5d3;
}

.header {
  box-shadow: var(--boxShadow);
  background-image: var(--gradientBackground);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 40px 10px 10px 10px;
  margin-bottom: 30px;
  z-index: 2;
  position: relative;
}

.header svg {
  fill: white;
}

.header .header__title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__title span:first-child {
  display: block;
}

.header__title span:last-child {
  margin-left: 15px;
}

.main {
  position: relative;
}

.main .match-list__button {
  background-image: var(--gradientBackground);
  color: white;
  box-shadow: var(--boxShadow);
  text-transform: uppercase;
  padding: 30px 60px;
  border: none;
  position: absolute;
  bottom: 40px;
  right: 15px;
}

.header__icons span {
  margin-left: 15px;
}

.header__icons span:first-child {
  margin: 0;
}

.main {
  padding: 0px 20px;
}

.main .main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 0.5px solid var(--greyColor);
  margin-bottom: 50px;
}

.main__header .main__list-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main__header .main__list-subtitle {
  margin-left: 30px;
  color: var(--greyColor);
  text-transform: uppercase;
}

.main__header svg,
.match-item svg {
  fill: var(--greyColor);
}

.main .match-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 30px;
}

.match-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 20px;
}

.match-item img {
  max-width: 60px;
  box-shadow: var(--boxShadow);
}

.match-item__info {
  font-weight: 600;
}

.match-item__info .match-item__name {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.match-item__info .match-item__friends {
  text-transform: uppercase;
  color: var(--greyColor);
}

.match-item .match-item__icon {
  align-self: center;
}

.fakeBg {
  position: fixed;
  height: 100vh;
  background-color: white;
  top: 0px;
  right: 0;
  left: 0;
  width: 80vw;
  margin: auto;
  z-index: 0;
}
